*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* overflow: hidden; */
}

.nav-heading {
    width:max-content;
    padding: 60px 25px;
    margin-left: 40px;
    margin-right: 830px;
    /* font-size: 5rem; */
    /* color: rgba(10, 10, 71, 0.785); */
    /* color: rgba(10, 10, 71, 0.785); */
    color: #c1a554;
    text-shadow: 2px 2px 4px rgba(4, 4, 84, 0.785);
}   

.heading{
    color: #c65507;
    font-size: 4rem;
    margin-left: 200px;
    margin-top: 100px;
}

.tagline{
    color: black;
        margin-top: 10px;
        margin-left: 280px;
}
.heading-colum{
    display: flex;
    background-color: #530000;
}

.nav-colum{
    display: flex;
    background-color: #02005A;
}
.nav-column{
    border-radius: 5px;
    display: flex;
    height: 100px;
    position: relative;
}

.nav-signout{
    border-bottom: 2px solid black;
    /* margin-bottom: 40px; */
}

.news-logo{
    margin: 5px 0px 5px 20px;
    width: 200px;
}
.button-signup, .button-contact, .button-about, .button-signout {
    font-style: normal;
    align-self: center;
    text-align: center;
    width: max-content;
    height: 25px;
    color: #c1a554;
    background: #3f4877;
    border: 1px solid #142683;
    border-radius: 5px;
    font-weight: 600;
    font-size:20px;
    margin-left: 300px;
    margin-top: 50px;
    padding: 12px 20px 8px 16px;
    
}

.button-signup, .button-contact, .button-about{
    margin-left: 10px;
}

.button-signup{
    background: #c65507;
}
.header-bottom{
    margin-top: 30px;
}

.get-started{
    margin-left: 650px;
    color: #142683;
}

.check{
    text-decoration: none
}
.blogs-signup {
    background-color: #f7f8fa;
    position:relative;
    font-size: x-large;
    width: 600px;
    height: 550px;
    margin-right: 120px;
    margin-left: 50px;
    overflow: auto;
}

.blogs-index {
    height: 550px;
    width: 350px;
    position: relative;
    overflow: auto;
}

.blog-heading{
    padding: 50px 0px 0px 0px;
    color:black;
    margin-bottom: 40px;
    text-align:center;
}

.blog-headline, .blog-data{
    margin-bottom: 20px;
    margin-top: 10px;
}

.blog-headline{
    color: rgb(48, 48, 48);
}
.blog-content, .last-blog{
    border-bottom: 1px solid black;
    margin-bottom: 40px;
    border-radius: 5px;
    padding-left: 30px;
    color: #212a37;
    text-align:left;
}

.form-element{
    /* margin-top: 10px; */
    /* font-size: large; */
    color: #566474;
}

.form-element-input{
    width: 60%;
    font-size: 16px;
    padding: 7px;
    border-radius: 5px;
    margin-top: 10px;   
    margin-bottom:30px;
    border: 0px;
    border: 1.5px solid black;
}

.form-signup{
    position:static;
    width: 450px;
    height: 85%;
    padding: 40px 50px 0px 50px;
    border: 1px solid rgb(227, 220, 220);
    border-radius: 5px;
    margin:20px 0px 0px 450px;
}

.form-login {
    position:static;
    width: 450px;
    height: 85%;
    padding: 40px 50px 0px 50px;
    border: 1px solid rgb(227, 220, 220);
    border-radius: 5px;
}

.login-button, .button-newpost{
    display:block; 
    text-align: center;
    margin: 10px 0px 10px 0px; 
    font-size: large;
    width: 90%;
    color: white;
    background-color: #142683;
    border-radius: 5px;
    padding: 5px;
}

.button-newpost {
    margin: 0px 0px 0px 700px;
    width: 50px;
}

.forgot-password{
    display: block;
}

.signin-text {
    color: rgb(46, 54, 64);
    margin-bottom: 50px;
    font-size: 25px;
    border-bottom: 1px solid rgb(227, 220, 220);
}
.main-body{
    display: flex;
    background-size:cover;
    color: aliceblue;
}

.flex{
    display: flex;
}
.subtitle {
    margin: 0 0 2em 0;
  }
  .fancy {
    line-height: 0.5;
    text-align: center;
    /* margin-left: 635px; */
  }
  .fancy span {
    display: inline-block;
    position: relative;  
  }
  .fancy span:before,
  .fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    top: 0;
    width: 569px;
  }
  .fancy span:before {
    right: 100%;
    margin-right: 15px;
  }
  .fancy span:after {
    left: 100%;
    margin-left: 15px;
  }

.LastPost{
    margin-bottom: 50px;
}

.last-blog{
    scroll-behavior: smooth;
    overflow: auto;
    margin: 50px 50px 50px 50px;
    height: 500px;
    max-width: 800px;
    padding-left: 0px;
}

.index-mainbody{
    display: flex;
}

.remove-underline{
    text-decoration: none;
}

.sidebar-content{
    display: flex;
    width: 0px;
    font-size: larger;
    margin: 0px 0px 20px 25px;
    color: black;
    
}
.sidebar-content:hover {
    color: blue;
}

.icon-sidebar{
    margin-top: 20px;
    margin-left: 20px;
    position:static;
    width:40px;  
}

.icon-sidebar:hover+.sidebar-extend {
    width: 120px;
}

.settings-button {
    margin-top: 400px;
}

.sidebar, .sidebar-extend{
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 15px;
    width: 0px;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 10px;
    border-right: 1px solid rgb(192, 188, 188);
    box-shadow: 0px 0px 2px #d4d4d4;
    transition: width .5s;
}

.sidebar-extend{
    width: 120px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0px;
}

.footer{
    margin-top: 51px;
}

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin: 20px; */
    margin-top: 70px;
}

.member {
    text-align: center;
    margin: 10px;
    max-width: 300px;
}

.member img {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
}

.member h3 {
    margin: 10px 0;
}

.company-info {
    margin: 20px;
}

header {
    background-color: #333;
    color: #000000;
    text-align: center;
    padding: 20px;
}

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #ffffff;
} */

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 36px;
    color: #ffffff;
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-form {
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #45a049;
}

.social-links {
    max-width: 200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 330px;
}

.social-links h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.social-links ul {
    list-style: none;
    padding: 0;
}

.social-links li {
    margin-bottom: 10px;
}

.social-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #4CAF50;
}

.user_hash{
    margin-left: 60px;
    color: #010829;
}

.user_comment{
    color: #142683;
    margin-left: 80px;
}

.graphic{
    margin-left: 200px;
    margin-top: 40px;
    max-width: 80%;
    max-height: 60%;
}

.left-home{
    display: flex;
    height: 400px;
}

.contact-form{
    margin-left: 500px;
    width: 350px;
    padding-right: 50px;
}

.information{
    margin-top: 30px;
}

.our-team{
    font-size: 5rem;
    margin-top: 50px;
}